/**
 * ======================================================================================
 *									Font Family
 * =======================================================================================
 */
@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../fonts/ProximaNova-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaBold';
    src: url('../fonts/ProximaNovaBold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaAltLight';
    src: url('../fonts/ProximaNovaAltLight.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaExtrabold';
    src: url('../fonts/ProximaNovaExtrabold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaAltBold';
    src: url('../fonts/ProximaNovaAltBold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaAltThin';
    src: url('../fonts/ProximaNovaAltThin.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaBlack';
    src: url('../fonts/ProximaNovaBlack.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Medium';
    src: url('../fonts/ProximaNova-Medium.otf');
    font-weight: normal;
    font-style: normal;
}

/**
 * ======================================================================================
 *									Generic Css
 * =======================================================================================
 */
html {
    font-size: 100%;
}

body {
    background: #fff;
    font-family: 'ProximaNova-Regular';
    font-size: 1.3125rem;
    color: #a3aeb1;
    font-weight: normal;
    line-height: 1.25em;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    transition: all .5s ease;
}

a:hover {
    text-decoration: none;
    color: #f5a706;
}

img,
svg,
iframe {
    height: auto;
    max-width: 100%;
}

header,
section,
footer,
article {
    width: 100%;
}

.accessibility {
    backface-visibility: hidden;
    left: -999999999px;
    position: absolute;
}

h1 {
    font-family: 'ProximaNovaBlack';
    font-size: 3.125rem;
    text-transform: uppercase;
    font-weight: 900;
    color: #172e36;
}

h2 {
    font-family: 'ProximaNovaExtrabold';
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 900;
    color: #172e36;
}

h5 {
    font-size: 1.5rem;
    line-height: 1.7em;
    font-family: 'ProximaNova-Medium';
}

h6 {
    font-family: 'ProximaNovaBold';
    font-size: 1.125rem;
}

.site-btn {
    display: inline-block;
    padding: 12px 15px;
    background-image: linear-gradient(-6deg, #0897e1 0%, #1be1e7 94%, #1ce6e8 100%);
    ;
    color: #fff;
    border-radius: 5px;
    font-family: 'ProximaNovaBold';
    text-transform: uppercase;
    transition: all 320ms ease;
    letter-spacing: 0.5px;
    border: 0px;
    box-shadow: 0 3px 9px rgba(0, 87, 105, 0.07);
    width: 230px;
    text-align: center;
    letter-spacing: 1px;
    border-radius: 6px;
}

.contact-main .site-btn {
    font-size: 1.3rem;
    font-family: 'ProximaNovaExtraBold';
}

.site-btn:hover {
    box-shadow: 0 5px 14px rgba(0, 72, 97, 0.2);
    color: #fff;
}

#main {
    overflow: hidden;
}

h1.small_title {
    font-size: 3.125rem;
}

h2.small_title {
    font-size: 2rem;
    font-family: 'ProximaNovaBlack';
}

.team p {
    font-size: 1.125rem;
    font-family: 'ProximaNova-regular';
}

.favicon {
    max-width: 36px !important;
}

.text-secondary {
    color: #B0BEC3 !important;
}

/**
 * ======================================================================================
 *									Header
 * =======================================================================================
 */
.site-header {
    position: relative;
    padding: 40px 0;
}

/* .home .site-header::before{
	content: url('../images/desktop-5pic.jpeg');
    display: block;
    width: 750px;

	background-image: linear-gradient(-30deg, #0897e1 0%, #1ce6e8 100%);
	background: #d5e9ee;
	background-image: url('../images/desktop-5pic.jpeg');
	position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    border-radius: 20%;
	transform: translate(35%, -50%) rotate(45deg);
	box-shadow: inset 0 0 13px 4px #a8c5cc;
} */

.home .site-header::after {
    content: none;
}

.bg-image-box {
    position: relative;
}



.contact .site-header::before,
.contact .site-header::after {
    content: '';
    display: block;
    width: 50%;
    padding-bottom: 50%;
    background-color: #effcff;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    border-radius: 10%;
    transform: translate(0%, -40%) rotate(48deg);
}

.contact .site-header::after {
    width: 30%;
    padding-bottom: 30%;
    background-image: linear-gradient(-30deg, #0897e1 0%, #1ce6e8 100%);
    background-color: transparent;
    transform: translate(10%, 10%) rotate(48deg);
    z-index: -2;
}

.header-menu li {
    display: inline-block;
    margin-left: 3rem;
}

.header-menu li a {
    display: inline-block;
    padding: 7px;
    color: #172e36;
    font-family: 'ProximaNova-Regular';
    font-size: 1rem;
}

.home .header-menu li a {
    color: #000;
}

.header-menu li.active a {
    font-family: 'ProximaNovaExtrabold';
}

/**
 * ======================================================================================
 *									Home page
 * =======================================================================================
 */
.home-hero {
    padding-top: 50px;
}

.home-hero .hero-content-box {
    display: block;
    width: 650px;
    max-width: 100%;
    color: #172e36;
}

.home-hero .hero-content-box h1 {
    margin-bottom: 1rem;
}

.img-bg-layer {
    position: relative;
}

/*
.gearup-home {
    padding-top: 3rem 0;
} */

/* .img-bg-layer::after{
	content: '';
	display: block;
	width: 200%;
	padding-bottom: 200%;
	border-radius: 20%;
	background-color: #effcff;
	position: absolute;
	right: 50%;
	top: 50%;
	z-index: -1;
	transform: translateX(50%) translateY(-50%) rotate(45deg);
} */

.img-bg-layer::before {
    content: '';
    display: block;
    width: 230%;
    padding-bottom: 240%;
    border-radius: 20%;
    background-color: #effcff;
    position: absolute;
    right: 90%;
    top: 50%;
    z-index: -15;
    transform: translateX(60%) translateY(-50%) rotate(45deg);
}

.middle-wide {
    z-index: -5;
}

/* dark-Blue Square behind the light blue square */
/* .img-bg-layer::before{
	width: 100%;
	padding-bottom: 100%;
	background-color: #0eafe3;
	z-index: -2;
	background-image: linear-gradient(to right, #1ce6e8 , #0897e1);
	transform: translateX(0%) translateY(-50%) rotate(45deg);
} */


.img-bg-layer-right::before {
    transform: translateX(100%) translateY(-50%) rotate(45deg);
}

.gearup-box {
    display: block;
    /* width: 460px; */
    max-width: 100%;
    z-index: 15;
}

.gearup-box p {
    font-family: 'ProximaNova-regular';
    /* font-size: 1.3125rem;*/
}

.gearup-box-text {
    position: relative;
    display: block;
    /* margin: 15px 0; */
    /* padding-left: 20px; */
}

/* .gearup-box-text:before{
	content: '';
	display: block;
	top: 6px;
	bottom: 6px;
	left: 0;
	width: 3px;
	background-color: #0fb0d1;
	position: absolute;
} */
.subscribe-form-box {
    position: relative;
    padding-bottom: 60px;
}

.error_msg {
    position: absolute;
    left: 0;
    bottom: 0;
}

.error_msg p {
    color: #FF0000;
    margin-bottom: 0;
}

/**
 * ======================================================================================
 *									Contact Us
 * =======================================================================================
 */
.contact-main {
    padding: 100px 0 120px;
    background-image: url('../images/contact-us-background illustration@10x.svg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.contact-form {
    width: 420px;
    max-width: 100%;
}

.contact-main h2 {
    font-family: 'ProximaNovaBlack';
}



.form-text:focus{
    box-shadow: 0 5px 14px rgba(0, 72, 97, 0.11);
}

.contact-form .form-text,
.contact-form .form-text::placeholder {
    font-size: 1.125rem;
}

.form-error {
    display: none;
    margin: 0px;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 999;
    padding-bottom: 20px;
    padding-top: 20px;
}

.form-error.active {
    display: block;
}

.form-error .close {
    font-size: 1.725rem;
    margin: auto 10px;
    color: #fff !important;
    height: 100%;
    opacity: 1;
}

.form-error.alert-success {
    color: #fff;
    background-color: #2dc17f;
    border-color: #2dc17f;
    border: 0;
    border-radius: 0;
}

.form-error.alert-success h3 {
    font-family: 'ProximaNovaBold';
    font-size: 1.5rem;
}

.form-error.alert-success p {
    font-size: 1.25rem;
}

/**
 * ======================================================================================
 *									Site Footer
 * =======================================================================================
 */
.site-footer {
    padding: 70px 0;
    color: #fff;
    background-color: #172e36;
}

.site-footer h6 {
    margin-bottom: 1.5rem;
}

.site-footer ul li,
.site-footer ul li a,
.site-footer p {
    font-family: 'ProximaNova-Regular';
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    line-height: 1.8em;
}

.footer-col-in {
    padding: 20px;
}

.divider-footer {
    display: block;
    height: calc(100% - 40px);
    width: 1px;
    background-color: rgba(255, 255, 255, 0.16);
    margin-top: 20px;
}

.footer-social li {
    margin-bottom: 10px;
}

.footer-social li a {
    font-family: 'ProximaNova-Regular';
    position: relative;
    padding-left: 36px;
}

.footer-social li a svg {
    width: 25px !important;
    ;
    display: inline-block;
    height: 25px;
    background-color: #fff;
    color: #172e36;
    padding: 4px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

/**
 * ======================================================================================
 *									Subscribe Form
 * =======================================================================================
 */
#mc_embed_signup form {
    padding: 0px !important;
}

#mc_embed_signup {
    background: #fff;
    clear: left;
    border-radius: 9px;
    background-color: #fff;
    width: 572px;
    margin-top: 2rem;
    max-width: 100%;
    padding: 0;
}

.form-btn {
    box-shadow: 0 5px 14px rgba(0, 72, 97, 0.11);
    background-image: -webkit-linear-gradient(300deg, #0897e1 0%, #1ce6e8 100%);
    background-image: -o-linear-gradient(300deg, #0897e1 0%, #1ce6e8 100%);
    background-image: linear-gradient(30deg, #0897e1 0%, #1ce6e8 100%);
    border-radius: 0.4rem !important;
    height: 60px;
    width: 153px;
    color: #fff;
    font-family: 'ProximaNovaBold';
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 1.375rem;
    border: 0;
    outline: none;
    line-height: 0;
    padding: 0;
}

.form-btn {
    padding-top: 0.2rem;
}

#mc_embed_signup form .form-text {
    border-radius: 0.4rem;
    border: 1.5px solid #e0e9ec;
}

#mc_embed_signup form .form-text::-webkit-input-placeholder, #mc_embed_signup form .form-text::-moz-placeholder, #mc_embed_signup form .form-text:-ms-input-placeholder, #mc_embed_signup form .form-text:-moz-placeholder, #mc_embed_signup form .form-text::placeholder {
    color: #B0BEC3 !important;
    font-size: 0.4rem !important;
}

.form-btn:hover {
    color: #fff;
}

.form-text {
    border-radius: 6px;
    box-shadow: 0 5px 14px rgba(0, 72, 97, 0.11);
    height: 60px;
    /* padding: 7px 20px; */
    outline: 0;
    border: 0;
    margin: 0;
    font-size: 1.375rem;
    color: #172E36;
    font-family: 'ProximaNova-Regular';
}

.form-text:focus {
    color: #172E36;
    box-shadow: 0 5px 14px rgba(0, 216, 255, 0.23);
}

.form-text::placeholder {
    color: #b0bec3;
    font-size: 1.375rem;
    font-family: 'ProximaNova-Regular';
}

textarea.form-text {
    height: 140px;
    resize: none;
    padding-top: 15px;
}

/**
 * ======================================================================================
 *									Team Page
 * =======================================================================================
 */
.team-title {
    padding: 60px 0px;
    position: relative;
}

.team .site-header::before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    width: 665px;
    height: 775px;
    transform: translate(0%, -80%) rotate(74deg);
    border-radius: 73px;
    background-color: #caf8ff;
}

.team .site-header:after {
    content: '';
    width: 470px;
    height: 470px;
    border-radius: 73px;
    background-image: linear-gradient(-30deg, #0897e1 0%, #1ce6e8 100%);
    transform: translate(40%, -93%) rotate(45deg);
    padding-bottom: 0;
    z-index: -2;
    display: block;
    position: absolute;
    right: 0;
}

.tab-squer::before {
    content: '';
    position: absolute;
    width: 56px;
    height: 56px;
    transform: rotate(45deg);
    border-radius: 7px;
    background-color: #22dbdf;
    right: 15%;
    bottom: 55%;
}

.team-why {
    padding: 40px 0px 50px;
}

.img-why {
    width: 50px;
}

.img-how {
    width: 43px;
}

.team-section {
    background-image: url(../images/team-bgimage.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 120px 0px;
}

.team-section .team-image {
    position: relative;
    margin: 0 auto;
    margin-bottom: 2rem;
    z-index: 1;
}

.team-section .team-image img {
    width: 200px;
}

.team-section h1 {
    font-size: 2.625rem;
}

.team-section .square-image {
    background-image: url(../images/Rectangle.svg);
    background-repeat: no-repeat;
    width: 270px;
    background-position: bottom left;
}

.team-section .oval-image {
    background-image: url(../images/oval.svg);
    background-repeat: no-repeat;
    width: 230px;
    background-position: bottom left;
}

.team-section .triangle-image {
    background-image: url(../images/triangle.svg);
    background-repeat: no-repeat;
    width: 270px;
    background-position: bottom left;
}

.team-data {
    margin-top: 1.5rem;
    text-align: left !important;
}

.team-data h3 {
    font-family: 'ProximaNovaExtrabold';
    text-transform: uppercase;
    color: #172e36;
    font-size: 1.25rem;
}

.team-data h5 {
    color: #172e36;
    font-size: 1.125rem;
}

.team-section .squer-image {
    background-image: url(../images/Rectangle.png);
    background-repeat: no-repeat;
    width: 250px;
    background-position: bottom left;
}

.team-section .circle-image {
    background-image: url(../images/Oval.png);
    background-repeat: no-repeat;
    width: 230px;
    background-position: bottom left;
}

.team-section .triangle-image {
    background-image: url(../images/Triangle.png);
    background-repeat: no-repeat;
    width: 230px;
    background-position: bottom left;
}

.team-loader {
    padding: 0rem 0 0.2rem;
    color: #0fb0d1 !important;
    margin: 1.5rem 0 0;
    font-weight: 900;
    position: relative;
    display: inline-block;
    font-size: 1.125rem !important;
    cursor: pointer;
}

.team-loader:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    background-color: #0fb0d1;
    display: block;
}

/**
 * ======================================================================================
 *								Blog
 * =======================================================================================
 */

.blog-container{
    margin: 0 auto;
    max-width: 1350px;
}


.blog-nav {
    padding: 40px 0px;
}

.blog-menu li a {
    font-size: 20px !important;
    color: black !important;
}

.banner-wrapper {
    position: relative;
    width: 100%;
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/images/blog_images/blog.png");
    background-position: top;
}

.banner-title-block {
    position: absolute;
    width: 25rem;
    top: 6rem;
    right: 0;
    background: #FFFFFF;
    padding: 2rem;
}

.banner-post-details {
    font-size: 1.2rem;
    font-weight: 500;
}

.banner-post-title {
    font-weight: bolder;
    color: #172e36;
    margin-top: 1rem;
}

.banner-read-more {
    color: #172e36 !important;
    font-weight: 700;
    font-size: 1rem;
    display: inline-block;
    transition: width 10s linear 5s;
}

.banner-read-more:hover {
    cursor: pointer;
    color: #0897e1;
}

.show-more {
    max-width: 303px;
    max-height: 303px;
    color: #172E36;
    font-size: 24px;
}

.show-more>div:hover {
    color: #2193b0;
    cursor: pointer;
}

.banner-read-more:hover::after {
    cursor: pointer;
    width: 6.5rem;
    background: #0897e1 !important;
}

.banner-read-more::after {
    display: block;
    content: '';
    width: 5rem;
    height: 4px;
    background: #c7cbd3;
    /* margin-bottom: 2rem; */
}

.catagory-filter-box {
    display: flex;
    justify-content: center;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
}

.catagory-filter-item {
    text-transform: capitalize;
    padding: 0 1.8rem;
}

.catagory-filter-item:hover {
    cursor: pointer;
}

.dark-color,
.filter-active {
    color: #172E36;
    font-weight: 600;
}

.post-card {
    position: relative;
    padding: 1.5rem;
}

.post-card-detail {
    margin-top: 1rem;
}

.post-card-catagory span {
    width: 20px;
    height: 70px;
    position: absolute;
    top: 85px;
    font-size: 14px;
    font-weight: normal;
    color: #c7cbd3;
    text-transform: uppercase;
    transform: rotate(270deg);
}


.post-card-detail-date {
    font-family: 'ProximaNova-regular';
    text-transform: capitalize;
    font-size: 16px;
}


.post-card-detail-title {
    font-family: 'ProximaNovaBold';
    text-transform: uppercase;
    line-height: 1.5;
    font-size: 16px;
    color: #172E36;
    text-transform: uppercase;
}


/**
 * ======================================================================================
 *								FAQS
 * ======================================================================================
**/

.faq-container{
    max-width: 1400px;
    margin: 0 auto;
}

.faq-nav {
    background: #172e36;
}

.faq-logo-col div:first-child {
    padding-right: 35px;
}

.faq-logo-col div:nth-child(2) {
    padding-left: 35px;
}

.faq-nav .v-alignment {
    padding-top: 0.3rem !important;
}

.faq-nav img {
    max-width: 180px;
}

.faq-nav .border-right, .faq-nav .border-secondary {
    border-width: 0 !important;
}

.faq-subNav {
    background: #f3fafc;
    /* padding: 1.2rem 5rem; */
}

.faq-subNav h3 {
    font-family: 'ProximaNovaBold';
}

.search-field {
    position: relative;
}


.search-field input{
    padding-left: 3.6rem !important;
}

.search-field i {
    position: absolute;
    left: 20px;
    top: 12px;
    height: 20px;
    color:  #ced4da;
}

.search-field #query {
    height: 48px;
    border-color: #DCE6E9;
    border-width: 1.5px;
    border-radius: 4px;
    color: #B0BEC3;
}


i.material-icons {
    vertical-align: middle;
}

.faq-tree {
    font-size: 16px;
}

.arrow-right{
    vertical-align: sub !important;
}

.faq-active {
    color: #172E36 !important;
}

.input-border,
#submit-request input {
    border-radius: 4px !important;
}

#submit-request input {
    height: 48px;
    color: #B0BEC3;
    border-color: #DCE6E9;
    border-width: 1.5px;
    border-radius: 4px !important;
}


#submit-request input:active, #submit-request input:focus {
    border-color: #1ce6e8 !important;
}


#submit-request label {
    font-size: 18px;
    color: #172E36;
    margin-bottom: 0px;
    font-weight: 600;
    font-family: 'ProximaNovaBold';
    letter-spacing: 0;
}

.request-btn{
    font-family: 'ProximaNovaBold';
    background-image: linear-gradient(-6deg, #0897e1, #1ce6e8) !important;
    background: #1ce6e8;
    border: none;
    width: 40%;
    padding: 5px 12px;
    font-size: 22px;
    text-transform: uppercase;
}


.upload-mainText{
    font-size: 1.2rem;
}

.upload-subText{
    font-size: 14px;
    text-align: center;
    color: #9eaeb3;
}


.upload-subText , .upload-mainText{
    font-family: 'ProximaNovaAltLight';
    /* padding-left: 10px; */
    line-height: 1.1rem;
}

label img{
    vertical-align: super;
    margin-left: 2rem;
}

.upload-input{
    border: 2px dashed #0897e1;
    border-radius: 4px;
    padding: 20px;
}

.faq-link-color{
    background-image: linear-gradient(-6deg, #0897e1, #1ce6e8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #2fb6d5;
}

.divider-faq {
    display: inline-block;
    height: 100%;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.16);
    margin-bottom: -16px;
}

.white-logo {
    max-height: 40px;
}

.faq-catagory {
    font-size: 1.4rem;
    font-family: 'ProximaNovaBold';
    line-height: 1.2;
    color: #172E36;
}

.question-heading {
    font-size: 32px;
    font-family: 'ProximaNovaBold';
    line-height: 1.2;
    color: #172E36;
}

.bottom-line {
    border-width: 3px;
}

/* .blue-text {

} */

.faq-catagory::after,
.question-heading::after {
    content: '';
    width: 2.8rem;
    height: 4px;
    margin-top: 4px;
    margin-bottom: .8rem;
    background: #172E36;
    display: block;
}

.question-heading~p {
    color: #172E36;
}

.question-heading~h5 {
    font-weight: 600;
}

.fs-16 {
    font-size: 16px;
}

.faq-list h4 {
    font-family: 'ProximaNovaBold';
    line-height: 1.2;
    color: #172E36;
}

.faq-list>ul {
    list-style: none;
    padding-left: 0px;
}


.faq-list ul li a {
    color: #2bbce5;
}

.drop-arrow {
    color: dodgerblue;
    cursor: pointer;
}

.faq-list .btn {
    padding-left: 0px;
    color: #b0bec3;
}

.faq-list .btn:focus,
.search-field input:focus {
    box-shadow: none;
    outline: none;
}

.faq-list .btn:hover {
    color: dodgerblue;
}

.blue-color {
    color: #2bbce5 !important;
}

/* NEWSLETTER STYLE */

.newsletter-box {
    background: #f7f9fc;
    padding: 20px 65px;
}

.newsletter-box-heading {
    font-family: 'ProximaNovaExtrabold';
    font-size: 4.5rem;
    font-weight: 800;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 12px;
    color: #172E36;
}


.newsletter-box-text::before {
    display: inline-block;
    content: '';
    height: 4px;
    width: 65px;
    background: #172e36;
    margin-right: 20px;
    letter-spacing: 16px;
}

.newsletter-box-text {
    color: #b6bac2;
    margin-top: 5.2rem;
    margin-bottom: -58px;
    font-size: 20px;
    letter-spacing: 1.2px;
    font-family: "ProximaNova-Medium";
}

.newsletter-email {
    width: 100%;
    height: 4rem;
    border: 2px solid #d6dae1;
    margin-top: 1rem;
    padding-left: 1rem;
}

.newsletter-email::placeholder {
    font-family: "ProximaNova-Medium";
    font-style: italic;
}

.newsletter-email::placeholder {
    color: #d6dae1 !important;
    text-transform: capitalize;
}

.newsletter-btn {
    text-align: center;
    width: 100%;
    height: 4rem;
    color: white;
    font-size: 1.4rem;
    font-family: "ProximaNovaExtrabold";
    letter-spacing: 0.3rem;
    font-weight: 600;
    margin-top: 1rem;
    border-width: 0px;
    text-transform: uppercase;
    background-color: #172e36;
    /* background-image: linear-gradient(to right, #6dd5ed, #2193b0); */
}


/**
 * ======================================================================================
 *										Article
 * =======================================================================================
 */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #172E36;
}

.article-heading {
    font-size: 4rem;
    font-family: 'ProximaNovaExtraBold';
    line-height: 1.1;
    font-weight: 600 !important;
    text-transform: uppercase;
    color: #172E36;
}

.article-author-name {
    border-bottom: 5px solid #172E36;
    color: #a3aeb1;
}

.article-writter {
    display: inline-block;
    padding: 1rem 0rem;
    color: #c7cbd3;
    font-size: 20px !important;
    text-transform: capitalize;
    font-family: 'ProximaNovaAltBold';
}

.article-social-icon-lg {
    position: absolute;
    top: 23.5%;
    left: -50px;
}

.article-social-icon-lg img,
.article-social-icon img {
    width: 36px;
    height: 36px;
    display: block;
    margin: 1rem 0rem;
}

.article-social-icon img:hover {
    cursor: pointer;
}

.form-control {
    border-radius: 2px;
    margin: 1rem 0rem;
}

.form-control::placeholder {
    color: #a3aeb1;
}

.form-control:focus {
    outline: none;
    box-shadow: 0 5px 14px rgba(0, 72, 97, 0.11);
    border-color: transparent;
    border: 1px solid #ced4da;
}




textarea {
    resize: none;
}


.article-response {
    background: #f7f9fc;
}

.article-respnse-user {
    margin: 0px;
}

.response-date {
    font-size: 14px;
}

.article-comment {
    color: #172E36;
    font-size: 14px !important;
    font-family: 'ProximaNova-Regular';
    line-height: 1.6;
}



/**
 * ======================================================================================
 *									Media Query min width
 * =======================================================================================
 */

@media only screen and (min-width: 576px) {
    .container {
        max-width: 90%;
    }

    .middle-mobile {
        display: none;
    }

    .faq-nav .border-right, .faq-nav .border-secondary {
        border-width: 0 !important;
    }

}


@media only screen and (min-width: 768px) {
    .container {
        max-width: 90%;
    }

    .bg-image {
        width: 55rem;
        position: absolute;
        top: 0rem;
        right: -20rem;
    }

    .middle-tab {
        position: absolute;
        width: 55rem;
        top: -18rem;
        left: 0rem;
        z-index: -5;
    }

    .middle-tab {
        position: absolute;
        width: 55rem;
        top: -3rem;
        left: -3.5rem;
        z-index: -5;
    }

    .faq-nav img {
        max-width: 190px !important;
    }

}

@media only screen and (min-width: 992px) {
    .container {
        max-width: 90%;
    }


    /* .subscribe-form-cont {
        position: relative;
        padding-bottom: 120px;
    } */
    /*
    .subscribe-form-bottom {
        position: absolute;
        left: 0;
        bottom: 0;
    } */

    .bg-image {
        width: 50rem;
        position: absolute;
        top: -0rem;
        right: -24rem;
    }

    .middle-tab {
        position: absolute;
        width: 50rem;
        top: -6rem;
        left: -3.55rem;
        z-index: -5;
    }

    .faq-nav .border-right, .faq-nav .border-secondary {
        border-width: 3px !important;
    }

    .faq-nav img {
        max-width: 200px !important;
    }

}

@media only screen and (min-width: 1200px) {

    .middle-tab {
        display: none;
    }

    .container {
        width: 90%;
    }

    .bg-image {
        position: absolute;
        width: 55rem;
        top: 0rem;
        right: -14rem;
        z-index: -5;
    }

    .middle-wide {
        position: absolute;
        width: 55rem;
        top: -5rem;
        left: -12rem;
        z-index: -5;
    }

    .middle-wide-text {
        margin-top: 9rem !important;
        margin-left: 40rem !important;
    }

    .main-left-heading {
        margin-top: 5rem;
    }


    #bottom-wide {
        position: absolute;
        width: 55rem;
        top: -3.5rem;
        right: -24rem;
        z-index: -5;
        margin-bottom: 20px;
    }

    #bottom-tab {
        display: none;
    }


}

@media only screen and (min-width: 1300px) {
    .container {
        width: 90%;
        max-width: 1170px;
    }

}

@media only screen and (min-width: 1400px) {

    .bg-image {
        position: absolute;
        width: 55rem;
        top: 0rem;
        right: -12.5rem;
        z-index: -5;
    }


    .gearup-home {
        padding: 50px 0px;
    }

    .main-left-heading {
        font-size: 2.5rem;
    }

    .main-left-subheading {
        font-size: 1.2rem;
    }

    .header-menu li {
        margin-left: 1.2rem;
    }

    .header-menu li a {
        font-size: 1.2rem;
    }


    .gearup-home {
        padding: 50px 0px;
    }


    .middle-wide {
        position: absolute;
        width: 85rem;
        left: -18%;
        z-index: -5;
    }


}


@media only screen and (min-width: 1600px) {


    .header-menu li {
        margin-left: 1rem;
    }

    .active {
        margin-left: 0px !important;
    }

    /*
    .header-menu:last-child {
        margin-right: 3rem;
    } */

    .header-menu li a {
        font-size: 1.2rem;
    }



    .logo-link img {
        width: 190px;
        vertical-align: -webkit-baseline-middle;
        vertical-align: middle;
    }

    .main-left-heading {
        font-size: 2.4rem;
        ;

    }

    .main-left-subheading {
        font-size: 1.2rem;
        width: 33rem;
    }


    .bg-image {
        position: absolute;
        width: 55rem;
        top: 0rem;
        right: -12rem;
        z-index: -5;
    }

    /* .bg-image {
        position: absolute;
        width: 55rem;
        top: -18rem;
        right: -12rem;
        z-index: -5;
    } */

    .gearup-home {
        padding: 50px 0px;
    }

    .middle-wide {
        position: absolute;
        width: 55rem;
        left: -14rem;
        top: -2rem;
        z-index: -5;
    }


    #mc_embed_signup {
        width: 650px;
    }


    #bottom-wide {
        position: absolute;
        width: 55rem;
        top: -6rem;
        right: -26rem;
        z-index: -5;
    }

    .gearup-box {
        width: 590px;
    }

    .gearup-box h2 {
        font-size: 1.8rem;
    }

    .middle-wide-text {
        margin-top: 8rem;
        margin-left: 32rem;
    }


}


/**
 * ======================================================================================
 *									Media Query max width
 * =======================================================================================
 */
@media only screen and (max-width: 1599px) {




    /* .home .site-header::before{
		height: 55%;
		width: 55%;
		transform: translate(35%, -45%) rotate(45deg);
	}
	.contact .site-header::before{
		transform: translate(-10%, -35%) rotate(48deg);
	}
	.contact .site-header::after{
		transform: translate(10%, 15%) rotate(48deg);
	}
	.team .site-header::before{
		transform: translate(25% ,-85%) rotate(74deg);
	}
	.team .site-header:after{
		transform: translate(40%, -100%) rotate(45deg);
	} */
    .tab-squer::before {
        right: 13%;
        top: 15%;
    }
    .form-text::placeholder,
    .form-text {
        font-size: 1.08rem;
    }


}

@media only screen and (max-width: 1399px) {
    body {
        font-size: 1.225rem;
    }

    .home .site-header::before {
        height: 65%;
        width: 65%;
        /* transform: translate(30%, -40%) rotate(45deg); */
        /* background-image: url('../images/desktop-5pic.jpeg'); */
    }


    .contact .site-header::before {
        width: 60%;
        padding-bottom: 60%;
        transform: translate(5%, -30%) rotate(48deg);
    }

    .contact .site-header::after {
        width: 40%;
        padding-bottom: 40%;
        transform: translate(20%, 15%) rotate(48deg);
    }

    .header-menu li {
        margin-left: 1rem;
    }

    .header-menu li a {
        font-size: 1.425rem;
    }

    .home-hero {
        overflow: hidden;
    }

    .home-hero .hero-content-box {
        width: 580px;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2.125rem;
    }

    h5 {
        font-size: 1.325rem;
    }


    .header-menu li a {
        font-size: 1.2rem;
    }

    .main-left-subheading,
    .subscribe-form-box {
        width: 33rem;
        z-index: 5;
    }

    .subscribe-form-bottom {
        width: 35rem;
    }


    .middle-wide-text h2 {
        font-size: 1.7rem;
    }

    .form-text::placeholder,
    .form-text {
        font-size: 1.08rem;
    }
}

@media only screen and (max-width: 1199px) {
    h1 {
        font-size: 2.625rem;
    }

    h2 {
        font-size: 2rem;
    }

    h5 {
        font-size: 1.125rem;
    }

    .header-menu li a {
        font-size: 1.25rem;
    }

    .header-menu li {
        margin-left: 1.75rem;
    }

    .form-text::placeholder,
    .form-text {
        font-size: 1.125rem;
    }

    .contact-main {
        background-size: contain;
    }

    .team .site-header:after {
        transform: translate(45%, -103%) rotate(45deg);
    }

    .team .site-header::before {
        transform: translate(40%, -87%) rotate(74deg);
    }

    .newsletter-box-heading {
        font-size: 3.5rem;
    }

    .newsletter-box-text {
        margin-top: 3.8rem;
    }

    .main-left-heading {
        margin-top: 0px;
    }

    .middle-wide {
        display: none;
    }

    .logo-link img {
        height: 54px;
    }

    .header-menu li a {
        padding: 12px 0;
        font-size: 1.5rem;
    }

    .header-menu li {
        margin-left: .7rem;
    }

    /* .middle-wide-text {
        margin-top: 92%;
    } */

    .gearup-box {
        width: 44%;
        padding: 0 6%;
        display: inline-block;
    }

    #bottom-wide {
        display: none;
    }

    #bottom-tab {
        display: block;
        width: 25rem;
        position: absolute;
        top: -24rem;
        right: -6.8rem;
        z-index: -5555;
    }

    .middle-wide-text {
        padding-left: 0px;
        margin-top: 45rem;
    }

    .gearup-box{
        width: 28rem;
        padding: 0 1rem;
    }

    .middle-wide-text{
        margin-top: 50rem;
    }


}

@media only screen and (max-width: 991px) {
    .header-menu li a {
        font-size: 1.125rem;
    }

    .header-menu li {
        margin-left: 1rem;
    }

    .form-text::placeholder,
    .form-text {
        font-size: 1rem;
    }

    .newsletter-box-text {
        margin-top: 0px;
    }

    .site-header::before {
        display: none !important;
    }

    .hero-content-box h5 {
        max-width: 505px;
    }



}

@media only screen and (max-width: 767px) {
    html {
        font-size: 95%;
    }

    h1 {
        font-size: 3rem;
    }

    .home-hero .hero-content-box h1 {
        margin-bottom: 2rem;
    }

    .home-hero .hero-content-box {
        max-width: 90%;
        margin: 0 auto;
    }

    .home .site-header::before,
    .contact .site-header::after {
        display: none;
    }

    .contact .site-header::before {
        width: 600px;
        padding-bottom: 600px;
        transform: translate(370px, -150px) rotate(113deg);
    }

    .form-text::placeholder,
    .form-text {
        font-size: 1.125rem;
    }

    .main-menu-container {
        padding: 1.5rem;
        z-index: 99;
        position: fixed;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;
        background: #fff;
        overflow-y: auto;
        transition: all 500ms ease-in-out;
        transform: translateX(100%);
    }

    .main-menu-container.active {
        transform: translateX(0%);
    }

    #mc_embed_signup {
        box-shadow: none;
    }

    .form-text {
        border-radius: 0.4rem !important;
        /* box-shadow: 0 5px 14px rgba(0, 72, 97, 0.11); */
    }

    .form-control:focus {
        box-shadow: 0 5px 14px rgba(0, 216, 255, 0.23);
    }

    .input-group-append {
        width: 100%;
    }

    .btn.form-btn {
        background-image: linear-gradient(-30deg, #0897e1 0%, #1ce6e8 100%);
        box-shadow: 0 5px 14px rgba(0, 72, 97, 0.11);
        width: 100%;
        border-radius: 0.4rem !important;
        margin-top: 15px;
    }

    .menu-toggle {
        width: 40px;
        height: 20px;
        cursor: pointer;
        z-index: 2;
        vertical-align: middle;
    }

    .menu-toggle span {
        display: block;
        width: 40px;
        height: 5px;
        position: relative;
        background-color: #0fb0d1;
        z-index: 1;
        transition: all 320ms ease;
    }

    .menu-toggle span.small {
        width: 30px;
    }

    .menu-toggle:hover span.small {
        width: 40px;
    }

    .header-menu li {
        margin-left: 0;
        display: none;
    }

    .header-menu li a,
    .home .header-menu li a {
        color: #172e36;
        display: block;
        text-align: left;
        border-bottom: 1px solid #eee;
    }

    .gearup-home {
        overflow: hidden;
    }

    .site-header {
        padding: 30px 0;
    }

    .hero-img-in {
        width: 300px;
        max-width: 80%;
        margin: 30px auto;
        position: relative;
    }

    /* .hero-img-in::before {
    	content: '';
	    display: block;
	    border-radius: 20%;
	    position: absolute;
	    right: 0;
	    top: 50%;
	    width: 160%;
	    padding-bottom: 160%;
	    background-color: #0eafe3;
	    z-index: -2;
	    background-image: linear-gradient(-30deg, #0897e1 0%, #1ce6e8 100%);
	    transform: translateX(0%) translateY(-50%) rotate(45deg);
	} */
    .gearup-home {
        padding: 30px 0;
    }

    .gear-up-img {
        width: 350px;
        max-width: 80%;
        margin: 0 auto;
    }

    /* .img-bg-layer::after{
		width: 110%;
    	padding-bottom: 110%;
	} */
    .img-bg-layer::before {
        width: 80%;
        padding-bottom: 80%;
        /* width: 165%;
		padding-bottom: 115%; */
    }

    .img-bg-layer-right::before {
        transform: translateX(122%) translateY(-35%) rotate(45deg);
    }

    .img-bg-layer {
        margin: 25% 0;
    }

    .main-menu-container .menu-toggle svg {
        margin: 0 auto;
        color: #0fb0d1;
    }

    .main-menu-container .menu-toggle {
        font-size: 30px;
        height: 40px;
        text-align: center;
    }

    .divider-footer {
        display: block;
        height: 3px;
        width: calc(100% - 60px);
        background-color: rgba(255, 255, 255, 0.16);
        margin: 0 auto 10px;
    }

    .footer-col-in {
        padding: 25px 15px;
    }

    .footer-social li {
        display: inline-block;
        margin-bottom: 0;
    }

    .footer-social li a svg {
        width: 30px !important;
        display: inline-block;
        height: 30px;
        background-color: rgba(255, 255, 255, 0.5);
        color: #172e36;
    }

    .footer-social li a span {
        display: none;
    }

    .site-footer {
        padding: 20px 0 0;
        overflow: hidden;
    }

    .contact-main {
        padding: 50px 0 220px;
    }

    .contact-form {
        width: 100%;
    }

    .contact-form .site-btn {
        width: 100%;
    }

    .contact-main {
        padding: 50px 0 300px;
        background-position: top center;
        background-size: auto;
        background-image: url('../images/mail-send-verticle.png');
    }

    .footer-col-social {
        padding: 10px 15px;
    }

    .copy-right {
        text-align: left;
    }

    .site-footer ul li,
    .site-footer ul li a,
    .site-footer p {
        margin-bottom: 7px;
    }

    .footer-col-social li,
    .footer-col-social li a {
        margin-bottom: 0;
    }

    .form-error .close {
        font-size: 2rem;
        margin: auto 5px;
    }

    .team .site-header:after {
        transform: translate(35%, -98%) rotate(45deg);
    }

    .team .site-header::before {
        transform: translate(42%, -86%) rotate(74deg);
        width: 660px;
        height: 710px;
    }

    .tab-squer::before {
        top: 40%;
    }

    h1.small_title {
        font-size: 1.875rem;
    }

    h2.small_title {
        font-size: 1.5rem;
    }

    .team-section h1 {
        font-size: 2.25rem;
    }

    .team-profile {
        display: none;
    }

    .article-heading,
    .newsletter-box-heading {
        font-size: 38px;
    }

    .newsletter-box-text {
        margin-top: 0px;
    }

    .gearup-home {
        overflow: visible;
    }

    .logo-link img {
        width: 100%;
        height: auto;
    }

    .main-left-heading {
        margin-top: 0px;
        width: 100%;
        font-size: 2.6rem;
    }

    .middle-wide-text {
        margin: 0px;
		padding: 0px;
		margin-top: -32rem;
    }

    .middle-mobile {
        display: block;
        margin-left: -3.5rem;
    }

    .middle-tab {
        display: none;
    }


    .middle-tab {
		position: absolute;
        left: 6rem;
    }

    .gearup-box {
        width: 100%;
    }

    .bottom-text{
        top: 5rem;
    }

    .bg-image {
        display: none;
    }

}

@media only screen and (max-width: 575px) {
    .copy-right {
        font-size: 13px !important;
        text-align: left;
    }

    .team .site-header::before {
        transform: translate(50%, -90%) rotate(74deg);
    }

    .team .site-header:after {
        transform: translate(43%, -100%) rotate(45deg);
    }

    .tab-squer::before {
        top: 30%;
        right: 8%;
    }

    .catagory-filter-item {
        font-size: 13px;
        padding: 0rem 0.8rem;
    }

    .post-card {
        position: relative;
        padding: 1rem 3.5rem;
    }

    .banner-wrapper {
        height: 300px;
    }

    .site-header::before {
        display: none;
    }

    .faq-tree span,
    .faq-tree i {
        font-size: 12px;
    }


    .img-bg-layer::before {
        content: '';
        display: block;
        width: 200%;
        padding-bottom: 200%;
        border-radius: 20%;
        background-color: #effcff;
        position: absolute;
        right: 120%;
        top: 50%;
        z-index: -15;
        transform: translateX(60%) translateY(-50%) rotate(45deg);
    }

    .middle-mobile {
        display: block;
        margin-left: -1rem;
    }

    .bg-image,
    .middle-tab {
        display: none;
    }

    .header-menu li {
        margin-left: 0;
        display: block;
    }

    .home-hero {
        padding-top: 20px;
    }

    .main-left-subheading {
        font-size: 1.15rem;
    }

    .subscribe-form-box,
    .main-left-subheading,
    .hero-content-box {
        width: 100%;
    }

    .subscribe-form-box {
        margin: 14.5px 0;
    }

    .hero-content-box {
        margin: 0px !important;
    }

    .gearup-box {
        width: 100%;
    }

    .middle-wide-text {
        margin-top: -22rem;
        z-index: 5;
    }

    .subscribe-form-bottom{
        margin-bottom: 40px;
    }
}
